* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jobContainer {
    max-width: 700px;
    padding: 20px;
    margin: 50px auto;
}

.jobContainer h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skillJob {
    margin: 5px 5px;
    padding: 7px;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    display: inline-block;
}

.skillJob:hover {
    background-color: black;
    color: white;
}

.selected{
    background-color: black;
    color: white;
}

.err{
    color: red;
}